<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	<span class="mobile btn-mobile-menu">
		<i class="fa fa-list btn-mobile-menu__icon"></i>
		<i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
	</span>

	{% include side-panel.html %}

	<div class="content-wrapper">
		<div class="content-wrapper__inner">
			{{ content }}
			{% include footer.html %}
		</div>
	</div>

	{% include external.html %}

</body>

</html>

<script src="//cdnjs.cloudflare.com/ajax/libs/mermaid/8.6.0/mermaid.min.js"></script>

<script>
	var config = {
		startOnLoad: true,
		theme: "forest",
		flowchart: {
			useMaxWidth: true,
			htmlLabels: true
		}
	};
	mermaid.initialize(config);
	window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
