---
layout: default
---
<!doctype html>
<html>

<head>
	<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
		<header class="post-header">
			<div class="post-meta">
				<time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished"
					class="post-meta__date date">{{page.date | date: "%F"}}</time> &#8226; <span
					class="post-meta__tags tags">{{page.tags | join:' '}}</span>
			</div>
			{% include post-tag.html %}
			<p>
				<!-- hitwebcounter Code START -->
				本站自2022年4月已访问<img
					src="https://hitwebcounter.com/counter/counter.php?page=7975161&style=0038&nbdigits=5&type=page&initCount=0"
					title="Free Counter" Alt="web counter" border="0" />次
			</p>
			<h1 class="post-title">{{ page.title }}</h1>
		</header>
		<section class="post">
			{{ content }}
		</section>
	</article>

	{% include read-more.html %}
	<script src="https://utteranc.es/client.js" repo="zququ/zququ.github.io" issue-term="pathname" theme="github-dark"
		crossorigin="anonymous" async>
		</script>

</html>
